.resultContainer {
    position: relative;
    width: 250px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana;
    font-size: 8pt;
}

.statusContainer {
    position:relative;
    padding: 5px;
    border: solid 1px #888888;
}

.smallIcon {
    font-size: 14px;
}

.mediumIcon {
    font-size: 20px;
}

.largeIcon{
    font-size: 30px;
}

.statusIcon {
    position:absolute;
    right: 3px;
    top: 3px;
}

.typeIcon {
    position: absolute;
    left: 1px;
    top: 1px;
}

.statusMessage {
    position:absolute;
    top: calc(100% - 1px);
    background: #000000;
    color: #FFF;
    text-align:left;
    margin: 0px;
    padding: 3px;
    width: 100%;
    height: 30px;
    max-height: 100%;
    overflow: hidden;
}

.controlPanel {
    position: absolute;
    top: calc(100% - 1px);
    background: rgb(35, 96, 152);
    color: #fff;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border: solid 1px #888888;
    z-index: 10 !important;

    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: gray(0);
    filter: gray(0);
    transition: all .3s ease;
}

.toggleContainer {
    position:absolute;
    width: 100%;
    top: 0px;
}

.toggleContainer .smallIcon {
    color: #ddd;
    position: absolute;
    top: 3px;
}

.subPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .25s ease-in-out;
    overflow: hidden;
    padding-top: 20px;
}

.toolsPanel {
    left: 0;
    border-right: solid 1px #888888;
}

.toolsPanel .smallIcon:nth-of-type(1) {
    position:absolute;
    right: 15px;
}

.toolsPanel .smallIcon:nth-of-type(2) {
    position:absolute;
    right: 5px;
}

.detailsPanel {
    right: 0;
    border-left: solid 1px #888888;
}

.detailsPanel .smallIcon:nth-of-type(1) {
    position:absolute;
    left: 5px;
}

.detailsPanel .smallIcon:nth-of-type(2) {
    position:absolute;
    left: 15px;
}

.detailsPanel table {
    padding: 0;
    margin: 0;
    text-align:left;
    font-weight: normal;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.detailName {
    width: 30%;
    text-align:right;
    text-decoration: underline;
}

.detailName:after{
    content:':';
}

.detailValue {
    padding-left: 5px;
}

.collapsedVertical {
    height: 0;
    padding: 0;
    margin: 0;
}

.collapsedHorizontal {
    width: 0;
    padding: 0;
    margin: 0;
}

.stale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: gray(100%);
    filter: gray(100%);
}

.normal {
    background: #00AA00;
}

.warning {
    background: #ffa500;
    border-bottom: none;
}

.error {
    background: #ff2222;
    color: #FFFFFF;
    border-bottom: none;
}

/* Grouping */

.monitorGroupContainer {
    display: inline-flex;
    transition: all .5s ease;
    font-family: Verdana;
    font-size: 8pt;
    line-height: 15px;
}

.monitorGroup {
    position: relative;
    border: solid 1px black;
    margin: 3px;
    padding: 3px;
    max-width: 218px !important;
    background: #777;
    color: #FFF;
}

.monitorGroup .controlPanel {
    position: absolute;
    top: 100%;
    left: -1px;
    width: 400px;
    border: none;
    padding-left: 5px;
    background: rgba(0, 0, 0, .75);
}

.monitorGroup .controlPanel .message {
    font-weight: bold;
}

.monitorGroup.normal .groupName {
    display: none;
}

.monitorGroup.normal:hover .groupName {
    display: block;
}

.groupName {
    font-weight: bold;
    padding-right: 25px;
    padding-bottom: 2px;
}

.groupResults {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.groupResults .resultContainer {
    display: flex;
    border: solid 1px #000;
    overflow: hidden;
    width: 5px;
    height: 12px;
    margin: 0;
    border-right: none;
    flex-flow: column wrap;
    justify-content: flex-start;
    transition: all .25s ease;
}

.groupResults .resultContainer:nth-last-of-type(1) {
    border-right: solid 1px #000;
    width: 6px;
}

.groupResults .statusContainer {
    border: none;
    padding: 1px 0 0 0;
    height: 100%;
    width: 100%;
}

.groupResults .statusContainer * {
    display: none;
}

.expandedGroupMonitorResults .resultContainer,
.groupResults:hover .resultContainer {
    opacity: .75;
    width: 18px !important;
    height: 18px;
    margin: 2px;
    border-right: solid 1px #000;
}

.expandedGroupMonitorResults .statusContainer .fa,
.groupResults:hover .statusContainer .fa {
    display: block;
}

.selectedGroupMonitorResult,
.groupResults .resultContainer:hover {
    opacity: 1 !important;
    border-color: #fff !important;
}

.monitorGroup .statusMessage {
    left: -1px;
    width: calc(100% + 2px);
    top: 100%;
    height: auto;
}

/* Mobile */

@media (min-width: 500px) {
    .monitorGroup.normal {
        width: auto;
    }
}

@media (max-width: 499px){
    .resultContainer {
        width: 100%;
    }

    .monitorGroupContainer {
        flex-flow: row wrap;
    }
}